/* * UI ASSETS ATTRIBUTION
 * Project: HWA Alliance Website
 * Icons: Uicons by Flaticon (https://www.flaticon.com/uicons)
 * License: Flaticon Free License (Attribution Required)
 */

* {
    /* Box Model */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    /* Typography */
    font-family: "Montserrat";
    src: url("/assets/fonts/Montserrat-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    /* Typography */
    font-family: "Montserrat";
    src: url("/assets/fonts/Montserrat-SemiBold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    /* Typography */
    font-family: "Montserrat";
    src: url("/assets/fonts/Montserrat-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}

/* HEADER */
.about-header-container {
    /* Positioning */
    display: flex;
    flex-direction: column;
    /* Box Model */
    width: 100%;
    height: 400px;
    /* Visuals */
    background-color: #0A66C2;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.about-navbar-container {
    /* Box Model */
    width: 100%;
    height: 100px;
    margin-top: 20px;
}

.navbar-items {
    /* Positioning */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* Box Model */
    width: 100%;
    height: 100px;
}

.navbar-items a {
    /* Typography */
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 18px;
    color: white;
    /* Misc */
    text-decoration: none;
}

/* About Message */
.about-message-container {
    /* Positioning */
    display: flex;
    flex-direction: column;
    /* Box Model */
    width: 80%;
    margin-left: 50px;
    margin-top: 100px;
    gap: 12px;
}

.about-message-heading h1 {
    /* Typography */
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 48px;
    color: white;
}

.about-message-subheading {
    /* Typography */
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 24px;
    color: white;
}

/* Our Story */
.about-our-story-container {
    /* Positioning */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Box Model */
    width: 100%;
    height: 750px;
    gap: 48px;
}

.our-story-message-container {
    /* Positioning */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* Box Model */
    padding: 24px;
    gap: 16px;
}

.our-story-message-container h1 {
    /* Typography */
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 48px;
}

.our-story-message-container p {
    /* Typography */
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 24px;
}

.our-story-video-container {
    /* Box Model */
    width: 60%;
    height: 60%;
}

.our-story-video-container iframe {
    /* Box Model */
    width: 100%;
    height: 100%;
    /* Visuals */
    border-radius: 24px;
}

/* About Mission Vision */
.about-vm-container {
    /* Positioning */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* Box Model */
    width: 100%;
    height: 400px;
    padding-left: 48px;
    padding-right: 48px;
    gap: 56px;
}

.vm-items-container {
    /* Positioning */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* Box Model */
    width: 100%;
    height: 75%;
    gap: 56px;
}

.vm-mission-container,
.vm-vision-container {
    /* Positioning */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* Box Model */
    width: 50%;
    height: 100%;
    padding: 32px;
    gap: 16px;
    /* Visuals */
    background-color: #FFDE01;
    border-radius: 24px;
}

.vm-mission-container h1,
.vm-vision-container h1 {
    /* Typography */
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 48px;
    color: #0630E1;
}

.vm-mission-container p:nth-of-type(1),
.vm-vision-container p:nth-of-type(1) {
    /* Typography */
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 24px;
}

.vm-mission-container p:nth-of-type(2),
.vm-vision-container p:nth-of-type(2) {
    /* Typography */
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 16px;
    text-align: justify;
}

/* Sets Us Apart */
.set-apart-container {
    /* Positioning */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Box Model */
    width: 100%;
    height: 700px;
    gap: 48px;
}

.set-apart-message-container {
    /* Positioning */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* Box Model */
    width: 100%;
    height: 200px;
    padding: 24px;
}

.set-apart-message-container h1 {
    /* Typography */
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 48px;
}

.set-apart-message-container p {
    /* Typography */
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 24px;
}

.set-apart-items-container {
    /* Positioning */
    display: flex;
    flex-direction: row;
    /* Box Model */
    width: 100%;
    height: 350px;
    padding: 48px;
    gap: 48px;
}

.set-apart-item-1,
.set-apart-item-2,
.set-apart-item-3 {
    /* Positioning */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* Box Model */
    width: 100%;
    height: 100%;
    padding: 16px;
    gap: 16px;
}

.set-apart-item-1 h3,
.set-apart-item-2 h3,
.set-apart-item-3 h3 {
    /* Typography */
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 32px;
    text-align: center;
}

.set-apart-item-1 p,
.set-apart-item-2 p,
.set-apart-item-3 p {
    /* Typography */
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

/* Decade of Excellence */
.decade-of-excellence-container {
    /* Positioning */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* Box Model */
    width: 100%;
    height: 800px;
    padding-top: 48px;
    padding-bottom: 200px;
    gap: 56px;
}

.decade-of-excellence-message-container {
    /* Positioning */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* Box Model */
    width: auto;
    height: auto;
    gap: 8px;
}

.decade-of-excellence-message-container h1 {
    /* Typography */
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 48px;
}

.decade-of-excellence-message-container p {
    /* Typography */
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 24px;
}

.decade-of-excellence-items-container {
    /* Positioning */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* Box Model */
    width: 100%;
    height: 100%;
    gap: 48px;
}

.decade-of-excellence-item-1,
.decade-of-excellence-item-2,
.decade-of-excellence-item-3,
.decade-of-excellence-item-4 {
    /* Positioning */
    display: flex;
    flex-direction: row;
    /* Box Model */
    width: 80%;
    height: 96px;
    gap: 48px;
}

.decade-of-excellence-item-1-year,
.decade-of-excellence-item-3-year {
    /* Box Model */
    width: 150px;
    padding-right: 36px;
    /* Visuals */
    border-right: #235ADC 4px solid;
}

.decade-of-excellence-item-2-year,
.decade-of-excellence-item-4-year {
    /* Box Model */
    width: 150px;
    padding-right: 36px;
    /* Visuals */
    border-right: #32a3ee 4px solid;
}

.decade-of-excellence-item-1-year h2,
.decade-of-excellence-item-2-year h2,
.decade-of-excellence-item-3-year h2,
.decade-of-excellence-item-4-year h2 {
    /* Typography */
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 36px;
    color: #0A66C2;
}

.decade-of-excellence-item-1-desc h2,
.decade-of-excellence-item-2-desc h2,
.decade-of-excellence-item-3-desc h2,
.decade-of-excellence-item-4-desc h2 {
    /* Typography */
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 36px;
    color: black;
}

.decade-of-excellence-item-1-desc p,
.decade-of-excellence-item-2-desc p,
.decade-of-excellence-item-3-desc p,
.decade-of-excellence-item-4-desc p {
    /* Typography */
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 24px;
    color: black;
}

/* FOOTER */
.footer-container {
    /* Positioning */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    /* Box Model */
    width: 100%;
    height: 350px;
    /* Visuals */
    background-color: #0A195B;
}

.footer-item-1 {
    /* Positioning */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* Box Model */
    width: 25%;
    height: 250px;
    padding: 24px;
    gap: 24px;
}

.footer-item-1-tagline p {
    /* Typography */
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 16px;
    color: white;
}

.footer-item-1-icons {
    /* Positioning */
    display: flex;
    flex-direction: row;
    align-items: center;
    /* Box Model */
    gap: 8px;
}

.footer-item-2 {
    /* Positioning */
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* Box Model */
    width: 40%;
    height: 250px;
    padding: 24px;
    gap: 128px;
}

.footer-item-2-services, 
.footer-item-2-global-presence {
    /* Positioning */
    display: flex;
    flex-direction: column;
    /* Box Model */
    gap: 16px;
}

.footer-item-2-services h3, 
.footer-item-2-global-presence h3 {
    /* Typography */
    font-family: "Montserrat";
    font-weight: 700;
    color: white;
}

.footer-item-2-services p, 
.footer-item-2-global-presence p {
    /* Typography */
    font-family: "Montserrat";
    font-weight: 400;
    color: white;
}

.footer-item-3 {
    /* Positioning */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* Box Model */
    width: 25%;
    height: 350px;
    padding: 24px;
    gap: 24px;
}

.footer-item-3-heading h3 {
    /* Typography */
    font-family: "Montserrat";
    font-weight: 700;
    color: white;
}

.footer-item-3-contacts {
    /* Positioning */
    display: flex;
    flex-direction: column;
    /* Box Model */
    gap: 24px;
}

.contact-1, 
.contact-2, 
.contact-3, 
.contact-4 {
    /* Positioning */
    display: flex;
    flex-direction: row;
    align-items: center;
    /* Box Model */
    gap: 24px;
}

.contact-1 p,
.contact-2 p,
.contact-3 p,
.contact-4 p {
    /* Typography */
    font-family: "Montserrat";
    font-weight: 400;
    color: white;
}