/* * UI ASSETS ATTRIBUTION
 * Project: HWA Alliance Website
 * Icons: Uicons by Flaticon (https://www.flaticon.com/uicons)
 * License: Flaticon Free License (Attribution Required)
 */

* {
    /* Box Model */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    /* Typography */
    font-family: "Montserrat";
    src: url("/assets/fonts/Montserrat-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    /* Typography */
    font-family: "Montserrat";
    src: url("/assets/fonts/Montserrat-SemiBold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    /* Typography */
    font-family: "Montserrat";
    src: url("/assets/fonts/Montserrat-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}

/* HEADER */
.about-header-container {
    /* Positioning */
    display: flex;
    flex-direction: column;
    /* Box Model */
    width: 100%;
    height: 500px;
    /* Visuals */
    background-color: #0A66C2;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    justify-content: center;
    align-items: center;
}

.about-navbar-container {
    /* Box Model */
    width: 100%;
    height: 100px;
    margin-top: 20px;
}

.navbar-items {
    /* Positioning */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* Box Model */
    width: 100%;
    height: 100px;
}

.navbar-items a {
    /* Typography */
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 18px;
    color: white;
    /* Misc */
    text-decoration: none;
}

/* SERVICES HEADER */
.services-header-message {
    /* Positioning */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* Box Model */
    width: 50%;
    height: 100%;
}

.services-header-message h1 {
    /* Typography */
    font-family: "Montserrat";
    font-size: 48px;
    font-weight: 700;
    color: white;
}

.services-header-message p {
    /* Typography */
    font-family: "Montserrat";
    font-size: 18px;
    font-weight: 400;
    color: white;
    text-align: center;
}

/* SERVICES INFO */
.services-info-container {
    /* Positioning */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* Box Model */
    width: 100%;
    height: 750px;
    padding: 48px;
    gap: 96px;
}

.services-info-message {
    /* Box Model */
    width: 80%;
    height: auto;
}

.services-info-message p {
    /* Typography */
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 32px;
    text-align: center;
}

.services-info-items-container {
    /* Positioning */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* Box Model */
    width: 100%;
    height: 45%;
    gap: 48px;
}

.services-info-item-1,
.services-info-item-2,
.services-info-item-3 {
    /* Positioning */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* Box Model */
    width: 80%;
    height: 90%;
    padding: 16px;
    gap: 24px;
    /* Visuals */
    background-color: #E4EFF3;
    border-radius: 32px;
}

.services-info-item-1 h2,
.services-info-item-2 h2,
.services-info-item-3 h2 {
    /* Typography */
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 32px;
}

.services-info-item-1 p,
.services-info-item-2 p,
.services-info-item-3 p {
    /* Typography */
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 16px;
}

/* AUDIT & COMPLIANCE */
.audit-compliance-services-container {
    /* Positioning */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* Box Model */
    width: 100%;
    height: 1200px;
    padding-top: 64px;
    padding-bottom: 64px;
    gap: 32px;
    /* Visuals */
    background-color: #F4F8FF;
}

.audit-compliance-heading {
    /* Positioning */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* Box Model */
    width: 100%;
    height: auto;
}

.audit-compliance-heading h1 {
    /* Typography */
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 36px;
}

.audit-compliance-items-container-1, 
.audit-compliance-items-container-2 {
    /* Positioning */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    /* Box Model */
    width: 80%;
    height: 30%;
}

.audit-compliance-item-1,
.audit-compliance-item-2,
.audit-compliance-item-3,
.audit-compliance-item-4 {
    /* Positioning */
    display: flex;
    flex-direction: column;
    /* Box Model */
    width: 50%;
    height: 100%;
    padding: 24px;
    gap: 16px;
}

.audit-compliance-item-1 h2,
.audit-compliance-item-2 h2,
.audit-compliance-item-3 h2,
.audit-compliance-item-4 h2 {
    /* Typography */
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 24px;
}

/* List Items (FSA, NHAA, TCS, ICRA) */
[class*="-list-"] {
    /* Positioning */
    display: flex;
    flex-direction: row;
    /* Box Model */
    width: 100%;
    margin-left: 24px;
    gap: 8px;
}

[class*="-list-"] p {
    /* Typography */
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 24px;
}

/* AUDIT SUB-CONTAINERS (E-Audit, Qual-Ctrl, Risk-Man) */
.audit-compliance-items-container-3 {
    /* Positioning */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* Box Model */
    width: 80%;
    height: 100%;
    padding: 24px;
    gap: 64px;
}

.e-audit-container,
.qual-ctrl-container,
.risk-man-container {
    /* Positioning */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* Box Model */
    width: 100%;
    height: 90%;
    gap: 16px;
}

.e-audit-container h1,
.qual-ctrl-container h1,
.risk-man-container h1 {
    /* Typography */
    font-family: "Montserrat";
    font-weight: 400;
    text-decoration: underline;
}

.e-audit-container p,
.qual-ctrl-container p,
.risk-man-container p {
    /* Typography */
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 16px;
    text-align: center;
}

.e-audit-container p { width: 80%; }
.qual-ctrl-container p { width: 90%; }
.risk-man-container p { width: 90%; }

.e-audit-container a,
.qual-ctrl-container a,
.risk-man-container a {
    /* Typography */
    color: #0A66C2;
}

/* INDUSTRIES WE SERVE */
.industries-we-serve-container {
    /* Positioning */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Box Model */
    width: 100%;
    height: 600px;
    gap: 24px;
}

.industries-we-serve-heading {
    /* Positioning */
    display: flex;
    flex-direction: column;
    /* Box Model */
    width: auto;
    height: auto;
    margin-top: 36px;
}

.industries-we-serve-heading h1 {
    /* Typography */
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 36px;
}

.industries-we-serve-container-1, 
.industries-we-serve-container-2 {
    /* Positioning */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    /* Box Model */
    width: 100%;
    height: 30%;
}

.industries-we-serve-list-1,
.industries-we-serve-list-3,
.industries-we-serve-list-4,
.industries-we-serve-list-6 {
    /* Positioning */
    display: flex;
    flex-direction: column;
    /* Box Model */
    width: 25%;
    height: 70%;
    gap: 16px;
}

.industries-we-serve-list-2,
.industries-we-serve-list-5 {
    /* Positioning */
    display: flex;
    flex-direction: column;
    /* Box Model */
    width: 35%;
    height: 70%;
    gap: 16px;
}

.industries-we-serve-list-1 h2, 
.industries-we-serve-list-2 h2, 
.industries-we-serve-list-3 h2, 
.industries-we-serve-list-4 h2, 
.industries-we-serve-list-5 h2, 
.industries-we-serve-list-6 h2 {
    /* Typography */
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 20px;
}

.industries-we-serve-list-1 li, 
.industries-we-serve-list-2 li, 
.industries-we-serve-list-3 li, 
.industries-we-serve-list-4 li, 
.industries-we-serve-list-5 li, 
.industries-we-serve-list-6 li {
    /* Typography */
    font-family: "Montserrat";
    font-weight: 400;
    /* Box Model */
    margin-bottom: 8px;
}

/* CHOOSE HWA */
.choose-hwa-container {
    /* Positioning */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* Box Model */
    width: 100%;
    height: 500px;
    gap: 48px;
    /* Visuals */
    background-color: #F4F8FF;
}

.choose-hwa-heading h1 {
    /* Typography */
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 36px;
}

.choose-hwa-items-container-1, 
.choose-hwa-items-container-2 {
    /* Positioning */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* Box Model */
    width: 100%;
    height: 30%;
    gap: 80px;
}

.choose-hwa-item-1, 
.choose-hwa-item-3 {
    /* Positioning */
    display: flex;
    flex-direction: column;
    /* Box Model */
    width: 400px;
    gap: 8px;
}

.choose-hwa-item-2, 
.choose-hwa-item-4 {
    /* Positioning */
    display: flex;
    flex-direction: column;
    /* Box Model */
    width: 450px;
    gap: 8px;
}

.choose-hwa-item-1 h2, 
.choose-hwa-item-2 h2, 
.choose-hwa-item-3 h2, 
.choose-hwa-item-4 h2 {
    /* Typography */
    font-family: "Montserrat";
    font-weight: 700;
}

.choose-hwa-item-1 p, 
.choose-hwa-item-2 p, 
.choose-hwa-item-3 p, 
.choose-hwa-item-4 p {
    /* Typography */
    font-family: "Montserrat";
    font-weight: 400;
}

/* NEED SERVICES (CTA) */
.need-services-container {
    /* Positioning */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* Box Model */
    width: 100%;
    height: 500px;
    gap: 64px;
    /* Visuals */
    background-color: #235ADC;
}

.need-services-heading {
    /* Positioning */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* Box Model */
    width: auto;
    height: auto;
    gap: 16px;
}

.need-services-heading h1 {
    /* Typography */
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 40px;
    color: white;
}

.need-services-heading p {
    /* Typography */
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 24px;
    color: white;
}

.need-services-buttons {
    /* Positioning */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* Box Model */
    width: 100%;
    height: 20%;
    gap: 48px;
}

.request-button, 
.back-to-home-button {
    /* Positioning */
    display: flex;
    justify-content: center;
    align-items: center;
    /* Box Model */
    width: 280px;
    height: 70px;
    /* Visuals */
    background-color: #235ADC;
    border: white 4px solid;
    border-radius: 32px;
}

.request-button a, 
.back-to-home-button a {
    /* Typography */
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 20px;
    color: white;
    text-decoration: none;
}

/* FOOTER */
.footer-container {
    /* Positioning */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    /* Box Model */
    width: 100%;
    height: 350px;
    /* Visuals */
    background-color: #0A195B;
}

.footer-item-1 {
    /* Positioning */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* Box Model */
    width: 25%;
    height: 250px;
    padding: 24px;
    gap: 24px;
}

.footer-item-1-tagline p {
    /* Typography */
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 16px;
    color: white;
}

.footer-item-1-icons {
    /* Positioning */
    display: flex;
    flex-direction: row;
    align-items: center;
    /* Box Model */
    gap: 8px;
}

.footer-item-2 {
    /* Positioning */
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* Box Model */
    width: 40%;
    height: 250px;
    padding: 24px;
    gap: 128px;
}

.footer-item-2-services, 
.footer-item-2-global-presence {
    /* Positioning */
    display: flex;
    flex-direction: column;
    /* Box Model */
    gap: 16px;
}

.footer-item-2-services h3, 
.footer-item-2-global-presence h3 {
    /* Typography */
    font-family: "Montserrat";
    font-weight: 700;
    color: white;
}

.footer-item-2-services p, 
.footer-item-2-global-presence p {
    /* Typography */
    font-family: "Montserrat";
    font-weight: 400;
    color: white;
}

.footer-item-3 {
    /* Positioning */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* Box Model */
    width: 25%;
    height: 350px;
    padding: 24px;
    gap: 24px;
}

.footer-item-3-heading h3 {
    /* Typography */
    font-family: "Montserrat";
    font-weight: 700;
    color: white;
}

.footer-item-3-contacts {
    /* Positioning */
    display: flex;
    flex-direction: column;
    /* Box Model */
    gap: 24px;
}

.contact-1, 
.contact-2, 
.contact-3, 
.contact-4 {
    /* Positioning */
    display: flex;
    flex-direction: row;
    align-items: center;
    /* Box Model */
    gap: 24px;
}

.contact-1 p,
.contact-2 p,
.contact-3 p,
.contact-4 p {
    /* Typography */
    font-family: "Montserrat";
    font-weight: 400;
    color: white;
}